/* Adobe fonts:
(book)
font-family: "bebas-neue-by-fontfabric", sans-serif;
font-weight: 300;
font-style: normal;

(book is thinner than regular)

(regular)
font-family: "bebas-neue-by-fontfabric", sans-serif;
font-weight: 400;
font-style: normal;
*/

body {
  font-family: "bebas-neue-by-fontfabric", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: 2em;
  height: 896;
  width: 976;
}

.borderBlue {
  background-color: #67aab3;
}

.container {
  height: 90%;
  display: flex;
  justify-content: center;
}

h1 {
  color: #707070;
}

p {
  color: #8bd8e2;
  font-style: bold;
  font-size: 30px; 
}
/* at one point you had this on p:
 margin: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  */

.blueButton {
  background-color: #8bd8e2;
  text-align: center;
  color: white;
  margin: 4px 2px;
  width: 400px;
  height: 70px;
  font-size: 40px;
  top: 50%;
}

.roundButton {
  border-radius: 50%;
  background-color: white;
  color: #8bd8e2;
  border-color: #8bd8e2;
  padding: 20px;
  font-size: 31px;
  width: 100px;
}

/* at one point you had this on the round button:
 position: absolute;
  bottom: 0;
  right: 0;
  */