/* Adobe fonts:
(book)
font-family: "bebas-neue-by-fontfabric", sans-serif;
font-weight: 300;
font-style: normal;

(book is thinner than regular)

(regular)
font-family: "bebas-neue-by-fontfabric", sans-serif;
font-weight: 400;
font-style: normal;
*/

body {
  font-family: "bebas-neue-by-fontfabric", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: 2em;
  height: 100%;
}

.borderBlue {
  background-color: #67aab3;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
}

h1 {
  color: #707070;
}

h4 {
  color: #8bd8e2;
  font-style: bold;
  margin: 4px 2px;
}

.blueButton {
  background-color: #8bd8e2;
  text-align: center;
  color: white;
  margin: 4px 2px;
  width: 400px;
  height: 70px;
  justify-content: center;
}

.roundButton {
  border-radius: 50%;
  background-color: white;
  color: #8bd8e2;
  border-color: #8bd8e2;
  padding: 20px;
  font-size: 31px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 150px;
}
